.body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-background);
  color: var(--primary-color);
}
:root {
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --primary-color: #434455;
  --primary-background: #ffffff;
  --secondary-color: #2e2f42;
  --hover-focus: #404bbf;
  --button-color: #4d5ae5;
  --secondary-background: #f4f4fd;
  --background-modal: #fcfcfc;
  --border-color: #e7e9fc;
  --icon-color: #8e8f99;
  --secondary-hover-focus: #31d0aa;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* =====style none===== */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
/*------------- header style------------------ */
/* ===container=== */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}
@media screen and (max-width: 767px) {
  .list-navigation {
    display: none;
  }
  .address {
    display: none;
  }
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .modal-open-btn {
    margin-left: auto;
    border: 0;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    display: block;
    padding: 24px 0 22px;
  }

  .modal-open-btn-icon {
    fill: #2e2f42;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opasity var(--transition), visibility var(--transition);
    padding: 24px;
  }

  .mobile-menu-container {
    position: relative;
    padding: 55px 11px 16px 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .mobile-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #e7e9fc;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition), border var(--transition);
  }

  .mobile-close-btn {
    fill: #2e2f42;
    transition: fill var(--transition);
  }

  .mobile-close-btn:hover,
  .mobile-close-btn:focus {
    background-color: #404bbf;
    border: none;
  }

  .mobile-close-btn:hover > .mobile-close-btn-icon,
  .mobile-close-btn:focus > .mobile-close-btn-icon {
    fill: #ffffff;
  }

  .item-list-menu:not(:last-child) {
    margin-bottom: 40px;
  }

  .link-menu {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color var(--transition);
  }

  .active-nav {
    color: #404bbf;
  }
  .item-list-menu > .link-menu:hover,
  .item-list-menu > .link-menu:focus {
    color: #404bbf;
  }

  .list-menu {
    margin-bottom: auto;
  }

  .link-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .item-contacts-tel {
    margin-bottom: 40px;
  }

  .link-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;

    transition: color var(--transition);
  }

  .link-contact:hover,
  .link-contact:focus {
    color: #404bbf;
  }

  .contacts {
    margin-bottom: 48px;
  }

  .social-list {
    margin-top: 8px;
  }

  .mobile-social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-icon-social-link {
    fill: #f4f4fd;
  }

  .mobile-social-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color var(--transition);
  }

  .mobile-social-link:hover,
  .mobile-social-link:focus {
    background-color: #404bbf;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo .studio {
  color: #2e2f42;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90;
  background-color: #ffffff;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .modal-open-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header-container {
    border-bottom: #e7e9fc 1px;
    display: flex;
    align-self: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229, 0px 2px 1px 0px #2e2f4214;
  }
  .link-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color var(--transition);
  }

  .link-nav::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;

    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .link-nav.active-nav::after {
    background-color: #404bbf;
  }

  .active-nav {
    color: #404bbf;
  }

  .link-nav:hover,
  .link-nav:focus {
    color: #404bbf;
  }

  .address {
    font-style: normal;
  }

  .link-contact {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color var(--transition);
  }

  .link-contact:focus,
  .link-contact:hover {
    color: #404bbf;
  }

  .list-navigation {
    display: flex;
    gap: 40px;
  }

  .navigation {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 76px;
  }
  .address {
    margin-left: auto;
  }
}
@media screen and (min-width: 1158px) {
  .list-contact {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
}

/*==== hero==== */
.hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-image/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2e2f42;
  padding-top: 112px;
  padding-bottom: 112px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  max-width: 1440px;
}
@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
.hero-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}
@media screen and (max-width: 767px) {
  .hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

    max-width: 320px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }
}
@media screen and (min-device-pixel-ratio) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero-image/Dark-bg.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero-image/background-tab.jpg);
  }
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
  }
}

@media screen and (min-device-pixel-ratio) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero-image/background-tab.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero-image/people-office.jpg);
  }
}

@media screen and (min-device-pixel-ratio) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero-image/people-office@2x.jpg);
  }

  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
}

/*====section advantages==== */
.text {
  margin-bottom: 8px;
}
.subtitle {
  margin-bottom: 8px;
}
@media screen and (max-width: 1157px) {
  .icon-container {
    display: none;
  }
  .title-advantages {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
  }
  .advantages {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .item-advantages {
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) {
  .title-advantages {
    text-align: start;
  }
  .list-advantages {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .item-advantages {
    margin: 0;
    flex-basis: calc((100% - 1 * 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .item-advantages {
    width: 264px;
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .list-advantages {
    display: flex;
    gap: 24px;
  }
  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .icon-container {
    height: 112px;
    border-radius: 4px;
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .text {
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* ====sectoin activity==== */

@media screen and (min-width: 1158px) {
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 1157px) {
  .activity {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .activity-list {
    display: flex;
    gap: 24px;
  }

  .item-activity {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }

  .activity {
    padding-bottom: 120px;
  }
}
.list-item {
  background-color: #ffffff;
}
.activity-list {
  display: flex;
  gap: 24px;
}
.item-activity {
  flex-basis: calc((100% - 2 * 24px) / 3);
}
.activity {
  padding-bottom: 120px;
}
/* ====section about team===== */

.list-team-item {
  max-width: 264px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-members {
  width: 264px;
  padding: 32px 0;
  text-align: center;
  background-color: #ffffff;
}
.social-list {
  margin-top: 8px;
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.icon-social-link {
  fill: #f4f4fd;
}
.social-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color var(--transition);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
.section-team {
  background-color: #f4f4fd;
}

@media screen and (max-width: 1157px) {
  .section-team {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 767px) {
  .list-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
  }
}
@media screen and (min-width: 768px) {
  .list-team {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
  }

  .list-team-item {
    margin: 0;
    flex-basis: calc((100% - 1 * 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .list-team {
    display: flex;
    gap: 24px;
  }
  .list-team-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .section-team {
    padding-bottom: 120px;
    padding-top: 120px;
  }
}

/* ===customers=== */

.customers {
  line-height: 1.1;
}

.link-customers {
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  color: #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-customers {
  fill: currentColor;
}
.link-customers:hover,
.link-customers:focus {
  color: #404bbf;
}
.link-customers:hover,
.link-customers:focus {
  border-color: #404bbf;
}
@media screen and (max-width: 1157px) {
  .section-customers {
    padding-top: 96px;
    padding-bottom: 96px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .list-customers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
  }

  .item-list-customers {
    flex-basis: calc((100% - 16px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .customers-container {
    max-width: 584px;
  }
}
@media screen and (min-width: 768px) {
  .list-customers {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .item-list-customers {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}
@media screen and (min-width: 1158px) {
  .list-customers {
    margin-top: 72px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* footer */

.studio-footer {
  color: #f4f4fd;
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer {
  background: #2e2f42;
}
.logo-link {
  display: block;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.link-footer-social-list {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color var(--transition);
}
.icon-footer-social-list {
  fill: #f4f4fd;
}
.link-footer-social-list:hover,
.link-footer-social-list:focus {
  background-color: #31d0aa;
}
.subtitle-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.useremail-input {
  min-width: 100%;
  min-height: 40px;
  border: 1px solid #ffffff;
  background-color: #2e2f42;
  padding: 8px 16px;
  border-radius: 4px;
  color: #ffffff;
  transition: border-color var(--transition);
}
.useremail-input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: #ffffff;
}
.useremail-input:focus {
  border-color: #404bbf;
  outline: none;
}
.subscribe-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 165px;
  padding: 8px 24px;
  background-color: #4d5ae5;
  color: #ffffff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: background-colol var(--transition);
  border: none;
  margin-left: auto;
  margin-right: auto;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}
.subscribe-icon {
  fill: #ffffff;
}
@media screen and (max-width: 1157px) {
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
@media screen and (max-width: 767px) {
  .useremail-input {
    margin-bottom: 16px;
  }
  .logo-footer {
    text-align: center;
  }
  .text-footer {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }
  .social-media {
    margin-left: auto;
    margin-right: auto;
  }
  .subtitle-footer {
    text-align: center;
  }
  .social-media {
    margin-bottom: 72px;
  }
  .subscribe-button {
    margin-top: auto;
    margin-bottom: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container-footer {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    max-width: 584px;
  }
}
@media screen and (min-width: 768px) {
  .logo-footer {
    width: 264px;
  }
  .text-footer {
    width: 264px;
  }
  .subscribe-container {
    display: flex;
    align-items: baseline;
    gap: 24px;
  }
  .useremail-input {
    min-width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .container-footer {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
  }
  .logo-footer {
    margin-right: 120px;
  }
  .subscribe-form {
    margin-left: 80px;
  }
}

/* ====portfolio==== */
.button-portfolio {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: color var(--transition), background-color var(--transition),
    border-color var(--transition), box-shadow var(--transition);
}
.item-button {
  transition: background-color var(--transition), color var(--transition),
    border-color var(--transition);
}
.button-portfolio:hover,
.button-portfolio:focus {
  background: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 2px 1px 0px #00000014, 0px 3px 1px 0px #0000001a;
}
.list-button {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.text-portfolio {
  color: #434455;
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.item-list-portfolio {
  width: calc((100% - 48px) / 3);
}
.portfolio {
  padding-bottom: 120px;
  padding-top: 96px;
}
.category {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.link-portfolio {
  display: block;
}
.link-portfolio {
  transition: box-shadow var(--transition);
}
.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(56, 60, 141, 0.08);
}
.text-card {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: #4d5ae5;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  overflow: auto;
  transition: transform var(--transition);
}
.card-wrap {
  position: relative;
  overflow: hidden;
}
.link-portfolio:hover .text-card,
.link-portfolio:focus .text-card {
  transform: translateY(0%);
}
/* ==========modal-window============ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition), visibility var(--transition);
}
.modal-window {
  max-width: 408px;
  min-height: 584px;
  background-color: var(--background-modal);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform var(--transition);
}
@media screen and (max-width: 427px) {
  .modal-window {
    width: 100%;
  }
}

@media screen and (min-width: 428px) and (max-width: 767px) {
  .modal-window {
    width: 392px;
  }
}

.modal-close-btm {
  display: block;
  width: 24px;
  height: 24px;
  background-color: var(--border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color var(--transition) border var(--transition);
  transition: background-color var(--transition), border var(--transition);
}
.modal-icon {
  fill: #2e2f42;
  transition: fill var(--transition);
}
.modal-close-btm:hover,
.modal-close-btm:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btm:hover > .modal-icon,
.modal-close-btm:focus > .modal-icon {
  fill: #ffffff;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.wrap-modal-icon {
  display: block;
  position: relative;
}
.icon-contact {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translate(-50%, -50%);
}
.modal-form {
  padding: 72px 24px 24px;
}
.title-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.text-modal {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-active-field {
  display: block;
  margin-bottom: 8px;
}
.modal-form-input {
  width: 100%;
  padding: 8px 38px;
  transition: border-color var(--transition);
  border: 1px solid #2e2f42;
  border-radius: 4px;
}
.modal-form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}
.icon-contact {
  fill: #2e2f42;
  transition: fill var(--transition);
}
.modal-form-input:focus + .icon-contact {
  fill: #4d5ae5;
}
.modal-form-message {
  resize: none;
  width: 100%;
  min-height: 120px;
  border: 1px solid #2e2f42;
  border-radius: 4px;
  transition: border-color var(--transition);
  padding: 8px 16px;
}
.modal-form-message:focus {
  border-color: #4d5ae5;
  outline: none;
}
.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-checkbox::before {
  content: '';
  display: block;
  min-width: 16px;
  min-height: 16px;
  cursor: pointer;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
}
.modal-checkbox {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
@media screen and (min-width: 200px) {
  .icon-agree {
    position: absolute;
    top: 7px;
    left: 3px;
    fill: #ffffff;
    transition: fill var(--transition);
  }
}
@media screen and (min-width: 428px) {
  .icon-agree {
    top: 4px;
  }
}
.hidden-checkbox:focus + .modal-checkbox::before {
  background-color: #4d5ae5;
}
.hidden-checkbox {
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}
.link-modal:hover,
.link-modal:focus {
  color: #404bbf;
}
.link-modal {
  transition: color var(--transition);
  color: #4d5ae5;
}
.button-send {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-self: center;
  color: #ffffff;
  background-color: #4d5ae5;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 169px;
  transition: background-color var(--transition);
}
.button-send:focus,
.button-send:hover {
  background-color: #404bbf;
}
.svg-checkbox {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  box-sizing: border-box;
  fill: #ffffff;
  visibility: hidden;
}
.unchecked {
  opacity: 1;
  transition: 300ms;
}
.checked {
  opacity: 0;
  transition: 300ms;
}
.form-check-input:checked + .svg-checkbox > .unchecked {
  opacity: 0;
}
.form-check-input:checked + .svg-checkbox > .checked {
  opacity: 1;
}
.form-check-input {
  appearance: none;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  outline: transparent;
  background-position: center;
  background-repeat: no-repeat;
  transition: 200ms;
  background-image: url(../images/icons/click.svg);
}
.form-check-input:checked {
  background-color: #404bbf;
  border-color: #404bbf;
}
.form-check-input:focus-visible {
  box-shadow: 0 0 0 4px #404bbf;
}
.social {
  font-family: 'Roboto';
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 16px;
}
.social-list-item {
  width: 40px;
  height: 40px;
}
.social-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link-team {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link-team:hover,
.social-list-link-team:focus {
  background-color: #404bbf;
}
.social-list-link:hover {
  background-color: #31d0aa;
}
.social-list-link:focus {
  background-color: #31d0aa;
}
/* Navigation section */
.navig {
  padding: 96px 0 120px;
}
.navig-title {
  visibility: hidden;
}
.navig-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.navig-list-two {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
}
.navig-item {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
}
.navig-btn-f {
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  background-color: #f4f4fd;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navig-btn-f:hover,
.navig-btn-f:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.navig-btn {
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  color: #4d5ae5;
  background: #f4f4fd;
}
.navig-btn:hover,
.navig-btn:focus {
  color: #f4f4fd;
  background-color: #404bbf;
}
/* Our services section */
.serv {
}
.serv-tetle {
}
.serv-list {
}
.serv-item {
  width: calc((100% - 48px) / 3);
}
.img-app {
  position: relative;
  overflow: hidden;
}
.text-about-app {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-about-app:hover,
.text-about-app:focus {
  transform: translateY(0%);
}
.serv-link {
}
.name-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.serv-img {
}
.serv-subtitle {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.serv-position {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  color: #434455;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
